<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491836257994-apskd2oibao0fv1jpo1on8k4k5ggmt3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491836257994-apskd2oibao0fv1jpo1on8k4k5ggmt3j</string>
	<key>API_KEY</key>
	<string>AIzaSyBMiQrVE-6pFXp4-Re6p-93gceMpl4p72I</string>
	<key>GCM_SENDER_ID</key>
	<string>491836257994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiap25mob</string>
	<key>PROJECT_ID</key>
	<string>fiap-25mob</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-25mob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491836257994:ios:7d47d809efa324d68f6633</string>
</dict>
</plist>